


/* ==========================================================================
   Base Styles and Bootstrap Modifications
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
   background: rgba(253, 253, 22, 0.38);
   
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

 img {
    vertical-align: middle;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
    resize: vertical;
}


/* ==========================================================================
   General styles
   ========================================================================== */

html,
body {
    height: 100%;
    background-color: #f8f3e7;
}

body {
  font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.col-md-4 {
	padding-bottom: 20px;
}

.row {
margin-right: 0px;
margin-left: 0px;

}

.modal-header {
	background: #3498db;
}

.modal-header h4 {
	color: white;
}

.modal-footer {
	background: #2b2b2b;
}


.navbar-default {
border-color: transparent;
background-color: #dadada;
}


.navbar-toggle {
border-color: transparent;
border: 0px solid transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: #16a085;
	color: white;
}



hr {
    position: relative;
    border: none;
}

hr:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 2px;
    background: #ccc;
}
/*
a img {
    background: white;
}
*/
.odd a img {
    background: #f5f5f5;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
   font-family: 'Arimo', sans-serif;
   font-weight: bold;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

.paragraph-lead {
    font-size: 20px;
    color: #3498db;
}

strong {
    font-weight: 700;
}

em {
    font-weight: 300;
}

pre {
    background: #ebebeb;
    border: none;
    font-family: "Monaco";
    font-size: 16px;
    color: #666;
    padding: 20px;
    line-height: 28px;
}

small {
    font-size: 12px;
}

blockquote,
blockquote p {
    line-height: 28px;
    color: #999;
    font-weight: 300;
    font-style: italic;
}

blockquote {
    position: relative;
    margin: 0 0 40px -30px;
    padding-left: 30px;
    border-left: 5px solid #3498db;
}

blockquote cite {
    position: absolute;
    bottom: -25px;
    right: 0;
    font-size: 12px;
    font-style: italic;
    color: #333;
    font-weight: 300;
}

blockquote cite:before {
    content: "-- "
}

/* Images */
.overflow-image {
    margin-top: -65px;
}

/* Links */
a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}



/* ==========================================================================
   Wrap Sections
   ========================================================================== */

.headerwrap {
	
    background: -webkit-linear-gradient(#A797AB, #f8f3e7);

  background-image:    -moz-linear-gradient(#A797AB, #f8f3e7); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(#A797AB, #f8f3e7); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(#A797AB, #f8f3e7); /* For old Opera (11.1 to 12.0) */ 
  background-image:         linear-gradient(#A797AB, #f8f3e7); /* Standard syntax; must be last */
	 margin-top: 50px;
	padding-top:120px;
	text-align:center;
	background-attachment: relative;
	background-position: 30% 60%;
	min-height: 550px; 
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.headerwrap .avatar {
    margin-top: 100px; 
    width: 130px;
    height: 130px;
    background-image: url("http://ziaka.gr/assets/img/avatar.jpg");
/*background: #ffffff url('http://ziaka.gr/assets/img/avatar.jpg'); */


 -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);

}

.headerwrap h1 {
	color:#ffffff;
	margin-top: 90px;
	padding-bottom: 30px;
	letter-spacing: 8px;
	font-size: 100px;
	font-weight: bold;
	text-shadow: 2px 2px 2px #000;
}

.headerwrap p {
             display: inline;
        	color: #fff;
            background-color: rgba(14, 13, 13, 0.12);
            padding: 0px 10px;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        line-height: 40px;
        letter-spacing: 3px;
        margin-left: 15px;
        text-shadow: 2px 2px 2px #A8A8A8;
}

#greywrap {
    margin-right: 200px;
    margin-left: 200px;
	background: #fefefe;
	margin-top: 0px;
	padding-top: 40px;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
	text-align: center;
    border: 1px solid #dbd4c1;
    border-top: none;
}

#greywrap .callout {
	margin-bottom: 20px;
}

#greywrap p {
	margin-left: 30px;
	margin-right: 30px;
	letter-spacing: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#greywrap .icon {
	font-size: 60px;
	line-height: 30px;
	margin-bottom: 10px;
}

#footerwrap {
	background: #2b2b2b;
	margin-top: 0px;
	padding-top: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

#footerwrap h4 {
	color: white;
}


/* ==========================================================================
   Box Sections
   ========================================================================== */

.white h1 {
	padding-top: 35px;
}

.white p {
	padding-top: 25px;
}

/* Section Dividers */
.section-divider {
    z-index: 999;
    width: 100%;
    display: table;
    max-height: 450px;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    
    
    margin-top: 45px;


    background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-attachment: relative;
    
    text-align: center;
}

.textdivider h1 {
	padding-top: 100px;
	color: #333;
	font-size: 40px;
}

.textdivider p {
    font-weight: bold;
	color: #555;
	font-size: 25px;
    text-shadow: 1px 1px 1px #B9B9B9;
}


/* Section Dividers Backgrounds */

.divider1 {
	background-image: url('../img/bg/divider1.jpg')
}

.divider2 {
	background-image: url('../img/bg/divider2.jpg')
}

.divider3 {
	background: url(../img/eopy.jpg) no-repeat center top;
   background-position: 50% 60%;
   height: 300px;
   width: 100%;
}

.divider4 {
	background: url(http://static.tumblr.com/y6gdhnq/uJhnezuhf/asthma.jpg) no-repeat center top;
   background-position: 50% 60%;
   height: 400px;
   width: 100%;

}

/*.divider6 {
	background-image: url('../img/bg/divider6.jpg')
}

*/

/* ==========================================================================
   Services Section
   ========================================================================== */

.service-trigger {
    display: block;
	position: relative;
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
    text-align: center;
    height: 168px;
    cursor: pointer;
	padding: 90px 20px 50px 20px;
    border: none;
    background: #333;
}

.service-trigger:before {
    width: 100%;
    top: 50px;
    color: #3498db;
    font-size: 36px;
    text-align: center;
	position: absolute;
	left: 0;
}

.service-active .service-trigger {
    background: #222;
}

.service-active p {
	font-family: 'Noto Sans', sans-serif;
	padding-top: 10px;
}

.service-content {
    padding: 15px 20px;
    background: #e6eaed;
    display: block;
    height: auto
}

.service-content p:last-child {
    margin: 0;
}


/* ==========================================================================
   Image Mask
   ========================================================================== */

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	color: #fff;
	background: #3498db;
}

.grid figcaption h5 {
	margin: 0;
	padding-top: 0px;
	padding-left: 20px;
	padding-bottom: 5px;
	color: #fff;
	font-weight: 700;
	text-align: left;
	letter-spacing: 2px;
	
}

.grid figcaption a {
	text-align: left;
	padding: 5px 10px;
	margin-left: 20px;
	display: inline-block;
	background: #2f2f2f;
	color: #fff;
	font-size: 13px;
}

/* Caption Style */
.mask figure {
	overflow: hidden;
}

.mask figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .mask figure:hover img,
.mask figure.cs-hover img {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}

.mask figcaption {
	height: 50px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .mask figure:hover figcaption,
.mask figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.mask figcaption a {
	position: absolute;
	top:10px;
	bottom: 10px;
	right: 30px;
}


/* ==========================================================================
   Blog Section
   ========================================================================== */

.blog-bg {
	background: #2b2b2b;
	padding-right: 0px;
	padding-left: 0px;
	
}

.blog-bg h4 {
	color: #dadada;
	padding-top: 0px;
}

.blog-bg h5 {
	color: #dadada;
	font-size: 11px;
}

.blog-content {
	padding-top: 10px;
	background: #f2f2f2;
}


/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


@media screen and (max-width:1050px), screen and (max-device-width:1050px){
	body .header{background-attachment: scroll;}
}


/*ipad portrait*/
@media only screen and (min-device-width:768px) and (max-device-width : 1024px) and (orientation : portrait){
	.header{background-attachment: scroll;}
}

@media screen and (max-width:769px) {

    

        .divider4 {
            display: none;

        }

    .textdivider {
        padding-left: 0px;
        padding-right: 0px;
    }

    #greywrap, #greywrap2 {
        margin-right: 0px; 
     margin-left: 0px;
    }

    .headerwrap img:not(.avatar) {
        display:none;
    }


    .headerwrap h1 {
		font-size: 80px;
	}
	.headerwrap p {
		font-size: 25px;
		line-height: 38px;
	}
}


#map {
    
    width: 100%;
    height: 400px;
}

.col-lg-4 .icon {
    font-size: 60px;
    line-height: 30px;
    margin-bottom: 10px;
}

.lung {

    opacity: 0.5; 
background-color: #F0AAAA;
border-radius: 100%;
}

.spiro {

    opacity: 0.5; 
background-color: #97cd76;
border-radius: 100%;
}

.oxymeter{

    opacity: 0.5; 
background-color: #ed6c63;
border-radius: 100%;
}

.nefelo{

    opacity: 0.5; 
background-color: #42afe3;
border-radius: 100%;
}

.cough{

    opacity: 0.5; 
background-color: #f68b39;
border-radius: 100%;
}

.eopyy{

    opacity: 0.5; 
background-color: #847bb9;
border-radius: 100%;
}

.smoke {
opacity: 0.5; 
background-color: #fce473;
border-radius: 100%;

}

.stetho
{

opacity: 0.5; 
background-color: #8498FF;
border-radius: 100%;

}

.headerwrap .contact {
text-align: center;
text-shadow: 1px 1px 1px #FFF9F9;
margin-top: 85px;

}

.headerwrap  a {
    color: #333;
text-decoration: none;
    }

 @-webkit-keyframes rotate {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.hamburger {
   color: #fff;
}

#greywrap2 {
    margin-right: 200px;
    margin-left: 200px;
    background: #fefefe;
    margin-top: 40px;
    
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    text-align: center;
    border: 1px solid #dbd4c1;
    border-top: none;
}

#greywrap2 h4 {
    margin-top: 50px;
}

.col-centered{
float: none;
margin: 0 auto;
}

.newaddr {
    padding: 2px 5px;
    background-color: rgba(252, 238, 168, 0.74);
    border-color: #faebcc;
    color: #8a6d3b;
    font-weight: bold;
    margin-left: 8px;
    font-size: 15px;
    border-radius: 4px;
}